.git
.github
.vscode
.idea
.DS_Store

Archive/
design/
docs/
media/
src/Tests/

*.md
LICENSE
azure-pipelines.yml
actions_bootstrap.ps1
requirements.psd1

Dockerfile-cli
docker-entrypoint-cli.sh

src/Javinizer/jvLog.log
src/Javinizer/jvHistory.csv
